body {
    font-family: 'Inter', sans-serif;
    max-width: 1600px;
}



.navbar li a{
    color: #000;
    padding: 0.5rem;
    font-weight: 700;
    
}
header nav{
    align-items: center;
}

header { /* kanskje endre/fjerne senere*/
    padding: 1rem;
}

section{
    padding: 2rem;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

/* section{
    background-color: #eeeeee;
} */



header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.yellow-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    border-radius: 5px;
    font-weight: 700;
}

.white-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    border-style: solid;
    font-size: 20px;
    
}

.white{
    display: flex;
    gap: 1rem;
    
}

.white li a{
    color: #000;
}

header{
    text-align: center;
    text-decoration: none;
}

section article{
    display: inline-block
}


#lion{
    text-align: center;
}


/* section{
    text-align: center; vurdere senere må vurder om all sections skal ha padding 
} */

/*h2{
    text-align: center;   må vurder senere
} */

.flex-section3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
    text-align: center;
    
}

.flex-section3 h2{  /* about og index har forskjellig font størellse endre senere */
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.flex-section5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #252525;
    font-size: x-large;
    font-weight: 700;
    
    
}



.flex-section5 h3 {
    align-self: center;
    color: #fff;
}

.flex-section5 nav{
    align-self: center;
    
}

.flex-section5 a{
    color: #fff;
}

#monkey{
    background-image: url("https://placehold.co/400x400");
    text-align: center;
    padding: 7rem;
}

iframe{
    max-width: 100%;
}

.links ul li a{
    color: #fff; 
    font-size: 2rem;
    padding: 1rem;
    
}

i{
    
    text-align: center;
    font-size: 2rem;
}

.flex-product1 article{
    max-width: 350px;
    min-width: 200px;
}

/*.flex-product1 article img{
    max-width: 350px;
    min-width: 200px;
} */








@media only screen and (min-width: 600px) {

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    nav ul li{
        display: inline-block;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }

    
    
    .flex-section1{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color:#eeeeee;
        height: 400px;
        justify-content: space-evenly;
        padding: 1rem;
       
        
        
    }

    .flex-section1 .yellow-btn{
        align-self: flex-start;
        align-self: center;
    }

    .flex-section1 p{
        font-size: 1.5rem;
        
    }

    h1{
        font-size: 3rem;
    }

    .flex-section2{  /* kan endre senere*/
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        border-style: solid;
        align-items: center;
        padding-right: 25rem;
        
        
    }

    .section4{
        padding: 5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap;
        background-color:#eeeeee
        
        
        
        

    }

    .section4 h2{
        width: 100%;
        text-align: center;
    }

   
    
    
    .line {
        border-bottom: 2px solid #e6bd43;
      }
     
    .flex-product1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        
    }

    .about-section1{
        display: flex;
        background-image: url("https://placehold.co/400x400");
        justify-content: end;
        padding-right: 5rem;
       
    }

    .about-section1 article{
        background-color: #fff;
        padding: 2rem;
    }
    

    .about-section2{
        background-color: #e6bd43;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 3rem;
        
    }

    .about-section2 h2{
        text-align: center;
        font-size: 2.5rem;
        
    }

    .about-section2 nav ul li {
        padding: 1rem;
    }

    #boo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #eeeeee;   
        
    }
    
    #boo h2{
        width: 100%;
        text-align: center;
        font-size: 3rem;

    }

    .flex-product1 article img{
        width: 100%;

    }

    .flex-product1 article{
        flex-grow: 2;
        max-width: 692px;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 30rem;
        gap: 1rem;
        font-size:large;
    }

    #boo article nav ul li{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        
    }

    


     
}